@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ibpr8q');
  src:  url('fonts/icomoon.eot?ibpr8q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ibpr8q') format('truetype'),
    url('fonts/icomoon.woff?ibpr8q') format('woff'),
    url('fonts/icomoon.svg?ibpr8q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
  padding: 0;
  margin: 0;
  background: #E1E1E1;
  color: #333;
}

.fixedHead {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-image: url();
  background-attachment: fixed;
  background-size: cover;
  z-index: 100;
}

.shadower {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333;
  opacity: 0;
  z-index: 15;
}

.falseHeader {
  background: #333333;
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 16;
  transition: height 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

.clipped {
  position: fixed;
  top: 0;
  height: 75px;
}

.clipped .headerUp {
  transform: translateY(-100px);
}

.clipped .menu {
  line-height: 75px;
}

.menuContainer {
  display: block;
  width: 800px;
  margin: 0 auto;
  z-index: 10;
}

.menu {
  line-height: 100px;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.menu ul li {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 25%;
  font-family: roboto;
  color: #00b205;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.menu ul li:hover {
  background: #fff;
  color: #333333;
}

.menu > ul > li .subChoices {
  transform: translateY(-25%);
  cursor-event: none;
  width: 200px;
  position: absolute;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
}

.menu > ul > li .subChoices li {
  font-size: 15px;
  line-height: 60px;
  display: block;
  width: 100%;
  color: #333333;
  background: #fff;
}

.menu > ul > li .subChoices li:hover {
  background: #333333;
  color: #00b205;
}

.menu > ul > li:hover .subChoices {
  transform: translate(0);
  opacity: 1;
}

.menu .current {
  background: #fff;
  color: #333333;
}

.menu .current .subChoices {
  transform: translate(0);
  opacity: 1;
}

.container {
  display: block;
  position: relative;
  width: 800px;
  margin: 100px auto;
  text-align: center;
  font-family: roboto;
}

.container iframe {
  width: 800px;
  height: 450px;
  margin-bottom: 75px;
}

#firstSect .container {
  margin-top: 200px;
}

#firstSect .container h1 {
  font-size: 30px;
}

#mainTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#Footer {
	color: #ffffff;
	background: #333333;
}
.center {
  display: table;
  width: 100%;
}

#social {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

#social ul {
  text-align: center;
  padding-left: 0px;
}

#social li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}

#social li:first-child {
  margin-left: 0px;
}

#social li:last-child {
  margin-right: 0px;
}



.facebook {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.facebook .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.facebook .svg {
  color:#ffffff;
  width:25px;
  height:25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.facebook .svg:hover {
  color:#000000;
}



.twitter {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.twitter .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.twitter .border:hover {
  background: #00aced;
  border-color: #72c6e6;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.twitter .svg {
  color: #000000;
  width:25px;
  height:25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



.github {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.github .border:hover {
  background: #6e5494;
  border-color: #7495af;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.github .svg {
  color: #000000;
  width:25px;
  height:25px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}



.linkedin {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.linkedin .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.linkedin .border:hover {
  background: #0077b5;
  border-color: #00a0dc;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.linkedin .svg {
	fill: #ffffff;
  width:25px;
  height:25px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}